@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
.logo{
    margin-top: 8px;
    margin-left: 60px;
}

nav{
    background-color: #F4F4F4;
    height: 70px;
    width: 100%;
    position: fixed;
    z-index: 1;
    /* top: -20px; */
}

nav ul{
    float: right;
    margin-right: 55px;
    overflow: hidden;
}
nav ul li{
    
    display: inline-block;
    line-height :5px;
    /* margin :0 2px; */
    margin-top:32px;
    margin-right: 50px;
    text-align: center;
    
}
nav ul li a{
    font-family: 'Montserrat', sans-serif;
    color: #196478 ;
    font-size: 15px;
    transition:0.5s ease;
    
}
nav ul li a:hover{
    font-size: 120%;
    opacity: 0.9;
    transform:scale(1.2);
    
}