*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #1F2833;
    height: 50%;
}
.box{
    background-color:#1F2833; 
    margin-left: 75px;
    height:540px;
    margin-top:45px;
    margin-right: 75px;
    border-radius: 100px; 
    box-shadow: 10px 10px  10px  10px black;
}
.about-para{
      font-size:17px;
      /* font-weight:bold; */
      padding-top: 56px;
      color: #ffffff;
      margin-left: 50px;
      line-height:23px;
      margin-right: 30px;
      font-family: 'Montserrat', sans-serif;
      animation-name:about-para;
      animation-duration: 3s;

    }
    @keyframes about-para {
    
        0%{
            opacity: 0;
        }
        /* 50%{
            opacity: 0.5;
        } */
        100%{
            opacity: 1;
        }
        
    }
    

.about-head{
    color: #ffffff;
    margin-left: 50px;
    padding-top: 56px;
    font-family: 'Montserrat', sans-serif;
    animation-name: about-us;
    animation-duration: 3s;
    position: relative;
    animation-iteration-count: 1;
}
@keyframes about-us{
    0%{
        opacity:0;
        top:-80px;
      }
     /* 50%{
        top:-50px
     } */
    100%{
        opacity:1;
        top: 0px;
    }
}