
 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap'); 
 @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,900;1,900&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,900;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,900;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: none;
    scroll-behavior: smooth;

}
.logo{
    margin-top: 8px;
    margin-left: 60px;
}

nav{
    background-color: #F4F4F4;
    height: 60px;
    width: 100%;
    position: fixed;
    z-index: 1;
    /* top: -20px; */
}

nav ul{
    float: right;
    margin-right: 55px;
    overflow: hidden;
}
nav ul li{
    
    display: inline-block;
    line-height :5px;
    /* margin :0 2px; */
    margin-top:32px;
    margin-right: 50px;
    text-align: center;
    
}
nav ul li a{
    font-family: 'Montserrat', sans-serif;
    color: #196478 ;
    font-size: 15px;
    transition:0.5s ease;
    
}
nav ul li a:hover{
    font-size: 120%;
    opacity: 0.9;
    transform:scale(1.2);
    
} 
main{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows:  90px 250px 452px 150px 250px 200px 100px 200px  600px ;
    grid-template-columns: repeat(2 ,1fr);
    grid-gap : 20px;
    
}
.header{
    grid-column: 1/-1;
    /* background-color: gray; */
    
    
}
.Card-1{
    /* background-color: aqua; */
    margin-left: 103px;
    margin-right: 200px;
    height: 300px;
}
.text-1{
   
    margin-right: 200px;
    margin-top: 20px;
}
.head{
    font-weight: 700;
    font-size: 48px;
    color: #196478;
    margin-left: -60px;
    /* height: 67px;
    width:410px; */
    transform: matrix(1,0,0,1,0,31);
    /* z-index: 304; */
    font-family: 'Montserrat', sans-serif;
    animation-name: about-us;
    animation-duration: 3s;
    position: relative;
    animation-iteration-count: 1;
}

.para{
    font-weight: bold;
    font-size : 15px;
    color:  #84A9B5;
    padding-top: 20px;
    margin-left: -60px;
    padding-top: 51px;
    font-family: 'Montserrat', sans-serif;
    line-height: 20px;
    margin-bottom: 43px;
    animation-name: para;
    animation-duration: 2s;
}
.lorem{
    display:none;
}

.btn{
    /* z-index: 303; */
    font-size: 12px;
    opacity: 1;
    cursor: pointer;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    margin-left: -64px;
    animation-name : link;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    position: relative;
    border-radius: 20px;
    width: 110px;
    height:35px;
    border:1px white solid;
    background-color: #1F2833;
    text-decoration: none;
    color: white;
}
/* .know{
    text-decoration: none;
    color: white;
} */
.btn:hover{
    background-color: brown;
}

 .showMore .more-text{
     display: inline;
 }   
    

/* .link{
    padding-top: 30px; */

.text-2{
    background-color: white;
    margin-left: 90px;
    /* margin-top: 100px; */
    padding-top: 248px;
    margin-left: 70px;
    width: 490px;
    
    
}
.Card-2{
     /* background-color: green; */
    margin-left: 140px; 
    margin-right: 200px;
    height: 290px;
    width: 300px;
    bottom: 0;
    margin-top: 150px;
}
.head-1{
     height: 100px; 
    width: 60;
    /* margin-left: 439px; */
    /* top: 81; */
    z-index: 304px;
    font-weight: bold;
    font-size: 60px;
    color: #196478;
    margin-left: 160px;
    margin-top: -70px;
    font-family: 'Montserrat', sans-serif;
    animation-name: vision;
    animation-duration: 3s;
    position:relative;
    animation-iteration-count: 1;
}

.para-1{
    font-weight: bold;
    font-size : 13px;
    color:  #84A9B5;
    margin-left: 170px;
    font-family: 'Montserrat', sans-serif;
    line-height: 20px;
    margin-bottom: 43px;
    animation-name : para;
    animation-duration: 2s;
   
    
    /* padding-top: 20px;
    margin-left: 150px; */
}
.btn-1{
    color: #196478;
    font-weight: bold;
    margin-left: 168px;
    font-family: 'Montserrat', sans-serif;
    animation-name : link;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    position: relative;
    border-radius: 20px;
    width: 110px;
    height:35px;
    border:1px white solid;
    background-color: #1F2833;

}
.know{
    text-decoration: none;
    color: white;
}
.btn-1:hover{
    background-color: brown;
}

/* .sp{
    background-color:blue
} */
.marquee{
    width: 100%;
    height:136px;
    /* left: -14px; */
    /* z-index: 308; */
    background-color:  #D6E7EA;
    
    grid-column: 1/-1 ;
    color: white;
    /* height : 160px; */
    overflow: hidden;
  
  
   margin-top: 70px;

}
.marquee-content{
    
    display: flex;
    height: 100%;
    list-style: none;
    align-items: center;
    justify-content: center;
    animation: scrolling 15s linear infinite

}
@keyframes scrolling {
    0% { transform: translateX(80vh)}
    100%  { transform: translateX(-180vh)}
}

.marquee-content li{
    
    width: 160px;
    flex-shrink: 0;
   
    font-size: 20px;
}

.space{
    /* background-color: red; */
    display: inline-flex;
   background-size: 1263px 370px;
   background-repeat: no-repeat;
    background-image: url("images/whatwedo.jpg");
    /* z-index: 302; */
    grid-column: 1/-1 ;
    height: 370px;
    margin-top:36px;
    /* margin-top: -254px; */
    /* background-color: green; */
   
}
.space1{
    width: 50%;
    display: inline-block;
    margin-left: 40px;
}
.space .space1 img{
    margin-top : 55px;
     margin-left:225px;
     height: 225px;
     width :300px;
}

.space2{
    margin-top: 65px;
    display: inline-block;
    color: whitesmoke;
}
#shead{
    width: 100%;
    height:17px;
    font-weight: bold;
    font-size : 30px;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 50px;
    display: inline-block;
}
#spara{
    width: 208px;
    height:29px;
    left: 503px;
    top: 936px;
    z-index: 345;
    padding-top: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin-left: 20px;
}
#spara2{
    width: 208px;
    height:29px;
    left: 503px;
    top: 936px;
    z-index: 345;
    padding-top: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin-left: 20px;
}
.Onimg{
    grid-column:1/-1;
    /* background-color: gray; */
    height: 250px;
    /* margin-top: -105px; */
    padding-top:136px;

    
}
.footer{
    background-color: #1F2833;
    grid-column: 1/-1 ;
    /* margin-top: 25px; */
    width: 1091;
    height: 400px;
    display: grid;
    grid-template-rows: 130px 60px 60px 60px 60px 60px;
    grid-template-columns: repeat(3, 1fr);
    margin-top: -674px;
   
}
.add{
   
    color: #ffffff
    ;
    text-align: center;
    margin-top: 40px;

}
.add-1{
    top: 13px;
    font-size:15px;
    margin-left: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight:bold;

}
.add-2{
 
    font-size:11px;
    font-family: 'Montserrat', sans-serif;
    font-weight:bold;
    color: aqua;

}

.log{
   
    text-align: center;
    color: #ffffff
    ;
    margin-top: 40px;
    


}
.plog{
   
    font-size:15px;
    font-family: 'Montserrat', sans-serif;
    font-weight:bold;
}
.plog-1{
    font-size:11px;
    font-family: 'Montserrat', sans-serif;
    font-weight:bold;
    margin-top: 25px;
    color: aqua;
}

.sup{
    color: #ffffff
    ;
     text-align: center;
     margin-top: 40px;
    
     
}
.suport{
    font-size:15px;
    font-family: 'Montserrat', sans-serif;
    font-weight:bold;
    margin-top: 26px;
}
.suport-2{
    margin-top:20px;
    height:30px;
    font-size:11px;
    font-family: 'Montserrat', sans-serif;
    font-weight:bold;
    margin-top: 20px;
    color: aqua;
}
 .navline {
    grid-column: 1/-1;
    font-size:12px;
    font-weight:bold;
    margin-top: 35px;
   
    display: inline-block; 
    font-family: 'Montserrat', sans-serif;
     width: 100%; 
 }
 .navline ul{
    display: flex;
    margin-top: 40px;
    
    justify-content: center;
 }
 .navline ul li{
     display: inline-block;
     padding:15px;
    
 }
 .navline ul li a{
    color:  #FFFFFF;
 }
 
 .navline ul li a:hover{
     color:  #A4E4E9;
 }
.copy{
    grid-column: 1/-1;
    color: white;
    text-align: center;
    margin-top: 75px;
    font-family: 'Montserrat', sans-serif;
    font-weight:bold;
    font-size: 15px;
}
.social{
    grid-column: 1/-1;
   
    /* text-align: center; */
    list-style: none;
    display:flex;
    align-items: center;
    justify-content:center;
    color: white;
    margin-top: 90px;
}
 .social img{
     padding:15px;
 }
 .gotopbtn{
    position: fixed;
    bottom: 40px;
    right: 50px;
}
.gotopbtn a{
    width: 45px;
    height: 45px;
    background-color: #A4E4E9;
    border-radius: 5px;
    display: block;
    text-align: center;
}
.gotopbtn a span{
    color: white ;
    line-height: 42px;

}
.gotopbtn:hover{
    background-color:#D6E7EA ;
    border-radius: 5px;
}