/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,900;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,900;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,900;1,900&display=swap'); */

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: none;
}
/* @media screen and (max-width: 600px) {
    *{
      width: 100%;
    }
} */
.logo{
    margin-top: 8px;
    margin-left: 60px;
    height: 30px;
}

nav{
    background-color: #F4F4F4;
    height: 60px;
    width: 100%;
    position: fixed;
    z-index: 1;
    /* top: -20px; */
}

nav ul{
    float: right;
    margin-right: 55px;
    overflow: hidden;
}
nav ul li{
    
    display: inline-block;
    line-height :5px;
    /* margin :0 2px; */
    margin-top:32px;
    margin-right: 50px;
    text-align: center;
    
}
nav ul li a{
    font-family: 'Montserrat', sans-serif;
    color: #196478 ;
    font-size: 15px;
    transition:0.5s ease;
    
}
nav ul li a:hover{
    font-size: 120%;
    opacity: 0.9;
    transform:scale(1.2);
    
}

 .topimg{
    width: 100%;
    height: 245px;
   padding-top: 75px;
}
main{
   background-color: #1F2833;
   width: 100%;
   height: 100%;
   display:grid;
   grid-template-rows: 200px 500px 500px 500px 500px 500px  500px 500px 500px 500px 130px 100px 100px 100px 10px 200px;
   grid-template-columns: repeat(2 , 1fr);
  
   
   

   
}
.head{
    grid-column: 1/-1;
    color: #fff;
    
}
.hpara{

    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 95px;
    line-height: 25px;
}
.photo{
    color: #fff;
    width: 75%;
    margin-left: 127px;
    padding-top: 90px;
/* }
 .line{
    border-left: 2px solid white;
    height: 435px;
    position: absolute;
    left: 50%;
    top: 32%;
    position: absolute; 
} */
/* .line-2{
    border-left: 2px solid white;
    height: 400px;
    position: absolute;
    left: 50%;
    top: 160%;
    height:400px; */
}
 /* .line-1{
    border-left: 2px solid white;
    height: 400px;
    position: absolute;
    left: 45%;
    top: 40%;  
} */
.photo-1{
    color: #fff;
    width: 65%;
    margin-left: 118px;
   padding-top:130px;
    
}
.photo-2{
    color: #fff;
    width: 100%;
    margin-top: 193px;
    margin-left: 127px;

}
.photo-3{
    color: #fff;
    width: 75%;
    margin-left:115px;
    margin-top: 250px;
    
}
.photo-4{
    color: #fff;
    width: 67%;
    margin-left: 127px;
    margin-top:348px;
}
.photo-5{
    color: #fff;
    width: 65%;
    margin-left:115px;
    margin-top: 428px;
}
.photo-6{
    color: #fff;
    width: 67%;
    margin-left: 127px;
    margin-top: 495px;
}
.text{
    width: 60%;
    margin-left: 30px;
    padding-top: 80px;
}
.text-1{

    width: 50%;
    margin-left: 120px;
    padding-top: 90px;
    color: #fff;

}
.head-1{
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    margin-left: 80px;
    color: #fff;

   
}
.para-1{
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
     margin-left: 80px;
    font-size: 15px;
    line-height: 25px;
    color: #fff;

}
.btn-1{
   background-color: #1F2833;
   
    font-family: 'Montserrat', sans-serif;
    margin-left: 80px;
    margin-top:25px;
    font-size: 12px;
    border-radius: 20px;
    border:1px white solid;
    width: 110px;
    height:35px;
    /* text-decoration: none; */
}
.know{
    text-decoration: none;
    color: white;
}
.btn-1:hover{
    background-color: brown;
}



.text-2{
    color: #fff;
    width: 50%;
    margin-left: 30px;
    margin-top:190px;
}
.head-2{
    font-family: 'Montserrat', sans-serif;
    width: 447px;
    margin-top: 40px;

    font-size: 40px;
    margin-right: 50px;
}
.para-2{
    font-family: 'Montserrat', sans-serif;
    margin-top: 20px;
    line-height: 25px;
    font-size: 15px;
}
.btn-2{
    
        font-family: Montserrat;
        margin-top:25px;
        font-size: 12px;
        width: 110px;
        height:35px;
        border-radius: 20px;
        border:1px white solid;
        background-color: #1F2833;
    }
    .know{
        text-decoration: none;
        color: white;
    }
    .btn-2:hover{
        background-color: brown;
    }
.text-3{
    color: #fff;
    width: 50%;
}
.head-3{
    font-family: 'Montserrat', sans-serif;

    font-size: 40px;
    width: 486px;
    margin-right: 50px;
    margin-left: 80px;
}
.para-3{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    width: 424px;
    margin-top: 20px;
    line-height: 25px;
    margin-left: 80px;

    font-size: 15px;}
    .btn-3{
        font-family: Montserrat;
        
        font-size: 12px;
        border-radius: 30px;
        width: 110px;
        height:35px;
        margin-top:25px;
        margin-left: 80px;
        border-radius: 20px;
        border:1px white solid;
        background-color: #1F2833;

    }
    .know{
        text-decoration: none;
        color: white;
    }
    .btn-3:hover{
        background-color: brown;
    }
.text-4{
    color: #fff;
    width: 50%;
    margin-left: 30px;
    margin-top: 335px;
}
.head-4{
    font-family: 'Montserrat', sans-serif;
    margin-left: 80px;
    font-size: 40px;
    width: 454px;
}
.para-4{
    font-family: 'Montserrat', sans-serif;
    margin-top: 20px;
    line-height: 25px;
    margin-left: 80px;
    font-size: 15px;}
    .btn-4{
        font-family: Montserrat;
        margin-top:25px;
        margin-left: 80px;
        font-size: 12px;
        border-radius: 30px;
        width: 110px;
        height:35px;
        border-radius: 20px;
        border:1px white solid;
        background-color: #1F2833;

    }
    .know{
        text-decoration: none;
        color: white;
    }
    .btn-4:hover{
        background-color: brown;
    }
.text-5{
    color: #fff;
    width: 50%;
    margin-left: 120px;
    margin-top:410px;
}
.head-5{
    font-family: 'Montserrat', sans-serif;

    font-size: 40px;
}
.para-5{
    font-family: 'Montserrat', sans-serif;
    margin-top: 20px;
    line-height: 25px;

    font-size: 15px;}
    .btn-5{
        font-family: 'Montserrat', sans-serif;

        font-size: 12px;
        border-radius: 30px;
        width: 110px;
        height:35px;
        margin-top:25px;
        border-radius: 20px;
        border:1px white solid;
        background-color: #1F2833;

    }
    .know{
        text-decoration: none;
        color: white;
    }
    .btn-5:hover{
        background-color: brown;
    }
.text-6{
    color: #fff;
    width: 50%;
    margin-left: 30px;
    margin-top: 490px;
}
.head-6{
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    margin-left: 80px;
   
}
.para-6{
    font-family: 'Montserrat', sans-serif;
    margin-top: 20px;
    line-height: 25px;
    margin-left: 85px;
    font-size: 15px;}
 .btn-6{
        
    
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
        border-radius: 30px;
        width: 110px;
        height:35px;
        margin-top:25px;
    margin-left: 80px;
    border-radius: 20px;
        border:1px white solid;
        background-color: #1F2833;

    }
    .know{
        text-decoration: none;
        color: white;
    }
    .btn-6:hover{
        background-color: brown;
    }

 .text-7{
    color: #fff;
    width: 50%;
    margin-left: 120px;
    margin-top: 240px;
        }
        .head-7{
            font-family: 'Montserrat', sans-serif;

            font-size: 40px;
            width: 435px;
        }
        .para-7{
            font-family: 'Montserrat', sans-serif;
            margin-top: 20px;
            line-height: 25px;

            font-size: 15px;
        }
            .btn-7{
                font-family: 'Montserrat', sans-serif;
                font-size: 12px;
                border-radius: 30px;
                width: 110px;
                height:35px;
                margin-top:25px;
                border-radius: 20px;
                border:1px white solid;
                background-color: #1F2833;
        
            }
            .know{
                text-decoration: none;
                color: white;
            }
            .btn-7:hover{
                background-color: brown;
            }
        
.ert{
    background-color:  #2F3B4A;
    grid-column: 1/-1;
    color: white;
    margin-left: 60px;
    margin-top : 540px;
    border-radius: 25px;
    height: 240px;
    margin-right: 70px;
   box-shadow: 10px 10px  10px  10px black;
}
.let{
    margin-top: 40px;
    margin-left: 50px;
    margin-right: 380px;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}
.lete{
    font-size: 22px;
    margin-left: 50px;
    margin-top: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
.ertphoto{
    /* display: inline-block; */
   
    float:right;
    margin-top: -150px;
    margin-right: 80px;
   

}



 



